body 
{
    background-color: #333333;
}

#login
{
    background-color: #222222;
    color:#fefefe;
    padding:50px;
    margin-top:50px;
}

#login label
{
    color: #fefefe;
}

.button
{
    width:100%;
    background-color: #36877a;
}

.button:hover
{
    background-color: #276058;
}