header
{
    background-color: #36877a;
    color:#fefefe;
    height:100px;
    padding:10px 50px;
}

#menu 
{
    border-right:1px solid #333333;
    background-color: #333333;
    padding:0;
    position: absolute;
    top: 100px;
    bottom:0;
}
#menu a
{
    display:block;
    text-align: center;
    border-bottom:1px solid #fefefe;
    color:#fefefe;
    background-color: #333333;
    padding:10px;
    width:100%;
}

#menu a:hover
{
    background-color: #276058;
}
.button
{
    width:100%;
    background-color: #36877a;
}

.button:hover
{
    background-color: #276058;
}

#create, #edit
{
    margin-top:50px;
}